*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    width: 300px;
    height: 100px;
    border: 1px solid #000;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sprite{
    width: 59px;
    height: 59px;
    background-image: url(../img/sprite.png);
    
}

.twitter {
    background-position: -59px 0;
}

.google {
    background-position: -118px 0;
}

.rss {
    background-position: -177px 0;
}

.vk:hover {
    background-position: 0 -59px;
    transition: all .4s;
}

.twitter:hover {
    background-position: -59px -59px;
    transition: all .4s;
}

.google:hover {
    background-position: -118px -59px;
    transition: all .4s;
}

.rss:hover {
    background-position: -177px -59px;
    transition: all .4s;
}



